<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/remove.css">
    <title>Remove quote</title>
</head>
<body>
    <div>
        <h1>Remove a quote</h1>
    </div>
    <div class="block">
        <div class="content">
            <div>
                <p>Quote number: {{ quote[1] }}</p>
            </div>
            <div class = 'quote'>
                <p>Quote: {{ quote[0].text }}</p>
            </div>
            <div class = 'author'>
                <p>Author: {{ quote[0].author }}</p>
            </div>
            <div>
                <p>Are you sure?</p>
                <form method="POST">
                    <button type="submit">Remove</button>
                    <div>
                        <a class="link" href="{{ url_for('quotes_view', index = quote[1]) }}">No</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>